{% extends "reserve/base.html" %}
{% load static %}

{%block title%} Sign up
{%endblock%}

{%block url%} href="{% static 'reserve/signup.css'%}" 
{%endblock%}

{%block content%}
<form action="{% url 'reserve:signup' %}" method="post">
    {% csrf_token %}
    {% for field in form%}
    <div>
       {{field.label_tag}}
        {{field}}
        {% if field.help_text %}
        <br>
        <small >{{ field.help_text }}</small>
      {% endif %}

    </div>
{%endfor%}
    <br>
    <input id="submit" type="submit" value="Submit">

    {% if form.errors %}
    <p id="error">{{form.errors}}</p>
    {% endif %}
</form>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{%endblock%}